/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2d94d8;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #52b2f2;
  }